body {background-color:#CEE5D0;}

h1 {
  color: #89B5AF;
}

H2 {
  color: #89B5AF;
}








hr {

  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;




}
